@import "./vars.scss";


.styling {
    display: flex;
    padding-bottom: 10%;
    margin: 0 auto;
    padding: 10vw 5vw 15vw 10vw;
}

h2 {
    font-size: 2.8rem;
    color: $green;
    text-align: left;
    margin: 0;
    font-weight: 400;
}

input[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
    width: 30%;
    height: 80px;
    padding-top: 30;
}