@import "./vars.scss";


h1 {
    font-size: 8rem;
    color: $dark-blue;
    position: relative;
    top: -100px;
    padding-left: 10vw;
    padding-right: 5vw;
    }

    p {
        font-size: 4rem;
        color: $black;
        padding: 0 5vw 0 10vw;
        }