@import "./vars.scss";

.help-wrapper{
    width: auto;
}

.link {
    color: $light-blue;
    text-decoration: underline;
}

.contact-p{
    font-size: 3rem;
    color: $green;
    border-bottom: 1px solid $dark-blue;
    padding-bottom: 150px;
}

.advocacy-section {
    margin: 150px 0 150px 0;
    text-align: left;
}

.help-section {
    border-top: 1px solid $dark-blue;
    padding-top: 150px;
    margin-top: 150px;
}

@media only screen and (min-width: 1024px) {

    .help-h1 {
        padding: 200px 0 0 0;
    }


}
