@import "./vars.scss";

.help-wrapper{
    width: auto;
}

.link {
    color: $light-blue;
    text-decoration: underline;
}

.contact-p{
    font-size: 3rem;
    color: $green;
    padding: 0 5vw 5vh 5vw; 
    border-bottom: 1px solid $dark-blue;
    padding-bottom: 150px;
}

.help-h1 {
    margin: 5% 5% 0 5%;
    top: -200px;
    left: 50px;
}

.advocacy-section {
    margin: 150px 0 150px 0;
    text-align: left;
}

.help-section {
    border-top: 1px solid $dark-blue;
    padding-top: 150px;
    margin-top: 150px;
}