@import "./vars.scss";

button {
    width: 104px;
    height: 38px;
    left: 108px;
    top: 482px;
    background: #7BBDA8;
    border-radius: 13px;
 }


    .wrapper {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }

   .menuList{
          // justify-content: space-between;
          padding-bottom: 6%;
          // display: inline-flex;
          // justify-content: end;
          // width: 100%;
          text-decoration: none;
          color: $white;
          border-bottom: 5px solid $light-green;
          &:last-child {
            border-bottom: none;
          }
      }

     svg {
        padding-right: 10%;
        padding-top: 2%;
        height: 100px;
        width: 100px;
     }

.menuText {
        font-size: 3em;
        color: $white;
        margin: 0;
        width: 70%;
        display: inline-block;
        // padding-top: 5%;
    }
