@import "./vars.scss";

.nav-container {
    background-color: $green;
    height: 200px;
    padding-top: 210px;
    width: 100%;

    &--white {
        background-color: $white;
        height: 210px;
        border-top-right-radius: 400px;
    }
}



p {
    margin: 0;
}
