@import './vars.scss';

.nutritionH1 {
    color: $white;
    margin: 0 auto;
    width: 90%;
    font-size: 4.4em;
    text-align: center;
}

input[type='checkbox'] {
    // width: 70px;
    // height: 55px;
    // margin: 10px 80px;
    // padding: 1em;
    // position: relative;
    // bottom: 120px;
    // border-radius: 3px;
    // float: right;
    // width: 15%;
    width: 30%;
    height: 7vw;
}

h2 {
    color: $black;
    text-align: center;
    font-weight: 900;
}
.checkboxInput {
    display: flex;
    padding-bottom: 10%;
    margin: 0 auto;
    align-items: center;
}

.checkboxText {
    margin: 1.5em;
    text-align: center;
    color: $black;
    font-weight: 500;
}

.textAreaInput {
    clear: both;
    margin: auto;
    padding: 10px;
    position: relative;
    top: 150px;
}

.textAreaText {
    text-align: center;
    font-size: 1em;
    position: relative;
}

label {
    display: block;
    width: 80%;
    margin: auto;
    color: $black;
    font-size: 2em;
    position: relative;
    bottom: 200px;
}

textarea {
    display: block;
    width: 80%;
    height: 25vw;
    margin: auto;
    position: relative;
    top: 170px;
    background-color: $gray;
}
