@import "./vars.scss";

body {
    background-color: $white;
    font-family: $font-stack;
    letter-spacing: 0.04em;
    margin: 0 10vw 0 10vw;
    font-size: 16px; 
}

.margin50{
    margin-bottom: 50px;
}

h1 {
    font-size: 6rem;
    color: $dark-blue;
    position: relative;
    padding-top: 20px;
    }

p {
    font-size: 4rem;
    color: $black;
    padding: 0 5vw 0 10vw;
 }

.input-align {
    width: 100%;

    p {
        color: $dark-blue;
        font-size: 2rem;
        margin: 10px 0;
        padding-left: 10px;
    }

    input {
        width: 90%;
        height: 80px;
        padding: 5px;
        margin: 0 auto;
        display: block;
        border-radius: 10px;
        border-color: $gray;
        background-color: $gray;

        &:hover, &:focus {
            background-color: $light-green;
            border-color: $green;
        }
    }
}
}

ul {
    font-size: 4rem;
    color: $black;
    list-style: none 
}

ul li::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: $green; /* Change the color of the bullet */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

a {
    color: $light-blue;
    text-decoration: underline;
}

