@import "./vars.scss";

body {
    background-color: white; 
    font-family: $font-stack;
    letter-spacing: 4%
}














































































// button {
//     position: absolute;
//     width: 104px;
//     height: 38px;
//     left: 108px;
//     top: 482px;
//     background: 7BBDA8;
//     border-radius: 13px;
//  }

  
//     .wrapper {
//         width: 80%;
//         margin: 0 auto;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         padding-top: 10%;
//       }
      
//         a {

//           display: inline-flex;
//           justify-content: space-between;
//           padding-bottom: 5%;
//           display: inline-flex;
//           justify-content: end;
//           width: 100%;
//           text-decoration: none;
//           color: #132F58;
//           border-bottom: 5px solid #7BBDA8;
//           &:last-child {
//             border-bottom: none;
//           }
//       }

//      svg {
//         padding-right: 10%;
//         padding-top: 2%;
//      } 

//       p {
//         font-size: 4em;
//         color: #132F58;
//         margin: 0;
//         padding-top: 5%;
//     }
       