$white: #f9f9f9;
$black: #202020;
$green: rgb(0, 160, 110);
$light-green: #7BBDA8;
$dark-blue: rgb(19, 47, 88);
$light-blue: rgb(0, 128, 186);
$gray: #E5E5E5;
$dark-gray: #646C70;
$font-stack: Verdana, Geneva, Tahoma, sans-serif;
