.logo-about {
  margin-left: 10%;
  width: 55%;
  position: relative;
  right: 75px;
  top: -75px;
  padding-top: 20%; }

.about-wrapper {
  position: relative;
  top: -175px; }

.about-h1 {
  margin-top: 0;
  margin-bottom: 5%; }
