.help-wrapper {
  width: auto; }

.link {
  color: #0080ba;
  text-decoration: underline; }

.contact-p {
  font-size: 3rem;
  color: #00a06e;
  padding: 0 5vw 5vh 5vw;
  border-bottom: 1px solid #132f58;
  margin-bottom: 30px; }

.help-h1 {
  margin: 5% 5% 0 5%;
  top: -200px;
  left: 50px; }

.advocacy-section {
  margin: 150px 0 150px 0;
  text-align: left; }
