
.nav-container {
  background-color: #00a06e;
  height: 100px;
  padding-top: 110px; }
  .nav-container--white {
    background-color: #f9f9f9;
    height: 100px;
    border-top-right-radius: 200px; }

