input[type='textarea'] {
  width: 70px;
  height: 55px;
  background: #555;
  margin: 10px 80px;
  padding: 1em;
  position: relative;
  bottom: 120px;
  border-radius: 3px;
  float: right;
  width: 15%;
  background-color: blue; }

.textAreaInput {
  clear: both;
  margin: 52px auto 0;
  width: 100%;
  padding: 22px 10px; }

.textAreaText {
  text-align: center;
  font-size: 2em;
  position: relative;
  bottom: 20px; }

label {
  display: block;
  width: 90%;
  margin: auto;
  color: #646C70;
  font-size: 2em; }
