body {
  background-color: #f9f9f9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.04em; }

h1 {
  font-size: 7rem;
  color: #132f58;
  position: relative;
  top: -100px;
  padding-left: 10vw;
  padding-right: 5vw; }

p {
  font-size: 3rem;
  color: #202020;
  padding: 0 5vw 0 10vw; }
